In [28]:
SELECT row_type,
   COUNT(*) as 'row_count'
FROM 
   (SELECT 
       CASE WHEN Tantárgynév IS NULL THEN 'Null'
           WHEN LEN(Tantárgynév) = 0 THEN 'Empty'
           ELSE 'Non Empty' 
           END AS 'row_type'
       FROM Tantárgyak) rows
GROUP BY row_type;

row_type,row_count
Non Empty,13

In [31]:
SELECT  AVG(kredit) AS 'value_var'
FROM Tantárgyak
WHERE kredit IS NOT NULL

value_var
2

In [29]:
SELECT  MIN(kredit) AS value_var
FROM Tantárgyak
WHERE kredit IS NOT NULL

value_var
1

In [50]:
SELECT * 
FROM Savok
WHERE Sav_id IN (
    SELECT TOP (4) Sav_id
    FROM Savok
    ORDER BY NEWID())

Sav_id,Sav,Időpont
5,5,14.00
8,7,17.00
4,4,12.30
9,8,18.30

In [33]:
SELECT  Max(Sav) AS 'value_var'
FROM Savok
WHERE Sav IS NOT NULL

value_var
8

In [40]:
select STDEV(cast(Sav as int)) AS 'value_stddev'
from Savok

value_stddev
"2,571208103423585"